<p id="notice"><%= notice %></p>

<h1>Publishers</h1>
<%= paginate @publishers %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= link_to publisher.name, publisher %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @publishers %>