<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<strong>Books:</strong>
<ul>
  <% @publisher.books.each do |book| %>
  <li><%= link_to book.title, book %></li>
  <% end %>
</ul>

<%= link_to 'Back to Publishers', publishers_path %>
