<h1>About</h1>
<p>
Data set taken from https://www.kaggle.com/bilalyussef/google-books-dataset.<br>
The data describes a book with a title, author, publisher, description, number of pages and the date the book was published.<br>
The data is structured such that:<br>
A publisher may publish many books.<br>
A author may write many books.<br>
A book may belong to many genres.<br>
A genre may have many books in it's category.
</p>
<%= image_tag "BooksProjectERD.PNG" %>